<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">peliculasApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" [routerLink]="['home']" routerLinkActive="active">Home</a>
                </li>

            </ul>

            <!-- aqui funciona la busqueda en este posteo de formulario
            para no importar el modulo para solo utilizar una caja de texto lo cambiare a 
            un div -->
            <div class="d-flex">
                <input #texto (keyup.enter)="buscarPelicula(texto.value)" class="form-control me-2" type="search" placeholder="Buscar pelicula" aria-label="Search">
                <button (click)="buscarPelicula(texto.value)" class="btn btn-outline-success" type="submit">Buscar</button>
            </div>
        </div>
    </div>
</nav>