<div class="row mt-3">

    <div class="col-md-2 mt-5" *ngFor="let pelicula of peliculas" (click)="obtenerPelicula(pelicula.id)">
        <!-- manera sencilla -->
        <img *ngIf="pelicula.poster_path" class="pelicula img-fluid" src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="">
        <img *ngIf="!pelicula.poster_path" class="pelicula img-fluid" src="assets/no-image.jpg" alt="">
        <!-- manera con pipe para codigo mas limpio -->
        <div class="contenedor-inferior-pelicula">
            <div class="contenedor-i2">
                <small style="color: white;"> {{ pelicula.title}} </small>

                <div class="row text-white">
                    <div class="col-8">
                        <!-- (rate)="onRate($event)" -->
                        <star-rating size="14px" [value]="(pelicula.vote_average*5)/10" uncheckedcolor="grey" checkedcolor="yellow" [totalstars]="5" readOnly="false"></star-rating>
                    </div>
                    <div class="col-4" style="font-size: 14px; color: yellow;">
                        {{ pelicula.vote_average*5 / 10 | number:'1.2-2'}}/5

                    </div>
                </div>
            </div>

        </div>




    </div>
</div>