<!-- este es el componente hijo al que necesito enviarleinfo -->
<!-- necesario el peliculas.length para asegurar q solo muestre cuando ya tenga la infromacion -->
<div class="row" *ngIf="peliculasSlider.length>0">
    <div class="col">
        <app-slider [peliculas]="peliculasSlider"></app-slider>

    </div>
</div>

<div class="container mt-5" *ngIf="peliculas.length>0">
    <h2 style="font-weight: bold;">Peliculas</h2>
    <app-peliculas-poster [peliculas]="peliculas"></app-peliculas-poster>

</div>